<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
</nav>
<div class="container">
    <div>
      <h1 class="title-text text-center">
        <span class="welcometo">Welcome to</span><br>
        Zoom<span class="technolgies">Technologies</span>
      </h1>
             <h1 style="line-height: 0.6;" class="welcome text-center"><span style="margin-left: -45px;font-size: 36px;">Welcome to</span><br>Zoom<small style="font-size: 36px;color: #77A170;
            font-weight: bold;">Technologies</small></h1>
    </div>
</div> -->

<nav class="navbar navbar-expand navbar-dark bg-dark"></nav>

<div class="container">
    <div class="text-center mx-auto col-md-6 title-text">
      <span class="welcometo">Welcome to</span><br>
      <span class="zoom-technologies"><span class="Zoom">Zoom</span>
          <span class="technolgies">Technologies</span>
      </span>
    </div>
</div>
